@import url('./../../index.css');

.block-game {
    width: 80vw;
    height: 90vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow);
}