body {
  margin: 0;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

:root {
  --primary-color: #ff9933;
  --primary-dark-color: #9c5e21;
  --secondary-color: #0099cc;
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}